body{
    background-color: grey;
}
.container{
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: aquamarine;
}

.item{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: space-between;
}

.data{
    text-decoration: line-through;
}